* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Dwarf";
  src:
    local("dwarvenaxe-bb-w00-regular"),
    url("/src/fonts/dwarvenaxe-bb-w00-regular.ttf") format("truetype");
}
body {
  background: linear-gradient(rgb(212, 247, 243), rgb(221, 229, 192));
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.monster-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.citizen-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.card:active {
  transform: scale(0.9);
}
.zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.zoom-image {
  width: 350px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.logo-title {
  width: 100%;
  max-width: 750px;
}
.random-btn {
  width: 300px;
  font-family: "Dwarf", sans-serif;
  background: linear-gradient(rgb(147, 38, 123), rgb(91, 0, 66));
  color: white;
  box-shadow:
    0 4px 9px rgba(0, 0, 0, 0.36),
    inset 0 0 10px #000;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 24px;
  font-size: 42px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.random-btn:active {
  transform: scale(0.95);
}
.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 2rem;
}

.card {
  perspective: 1200px;
  transition: transform 0.3s ease;
}

.card-inner {
  width: 200px;
  height: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 0.8rem;
  font-style: italic;
}
@media (max-width: 3000px) {
  .card-inner {
    width: 150px;
    height: 210px;
  }
}

@media (max-width: 700px) {
  .card-grid {
  }
  .card-inner {
    width: 200px;
    height: 280px;
  }
}

@media (max-width: 450px) {
  .card-inner {
    width: 180px;
    height: 260px;
  }
}
